[submodule "express-storefront-backend"]
	path = express-storefront-backend
	url = https://github.com/OmarMAttia7/express-storefront-backend
	update = merge
[submodule "storefront-frontend"]
	path = storefront-frontend
	url = https://github.com/OmarMAttia7/storefront-frontend
	update = merge